.layout {
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100vh;
}


.sidebar {
    /* background-color: blue; */
    text-align: center;
    border-right: 0.05rem solid #4C5454;
}

.content {
    /* background-color: blue; */
    text-align: center;
}

.title {
    border-bottom: .01rem solid #4C5454;
    padding: 0;
    margin: 0;
    height: 2rem;
}
.title h4 {
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    height: 2rem;
    border-bottom: .01rem solid #4C5454;
}

.header h4 {
    margin: 0;
    padding: 0;
}
.content_convers{
    flex:1;
}

.content_message {
    height: 5rem;
    border-top: .01rem solid #4C5454;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_message .text_message {
    border: 0.01rem solid #a2b2b2;
    height: 2rem;
    width: 40rem;
}